Manage_Material_Project/obj/Debug/TempPE/dbDataset1.Designer.cs.dll
Manage_Material_Project/obj/Debug/RdlCompile.cache
Manage_Material_Project/dbDataset1.Designer.cs
Manage_Material_Project/bin/Debug/Manage_Material_Project.vshost.exe.manifest
.vs/Manage_Material_Project/v14/.suo
