<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Manage_Material_Project.Properties.Settings.dbConnectionString"
            connectionString="Data Source=dbwp.database.windows.net;Initial Catalog=db;User ID=dbwp@dbwp;Password=Dev11111111"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>